{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="content">
    <h2>Select Catalog</h2>
    <p>Category: <strong>{{category}}</strong></p>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
{% for book in books %}
        <tr>
            <td>{{ book['title'] }}</td>
            <td>{{ book['author'] }}</td>
            <td>{{ book['price'] }}</td>
            <td><a class="link1"
                   href="">
                Details</a></td>
        </tr>
{% endfor %}
    </table>
</div>


{% endblock %}
